<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\Logs\LMS\API\api-internal-nlog.txt">


  <variable name="poolName" value="DigitalBanking" />

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file 
    
    * timeToSleepBetweenBatches: When set to '0' or '1', then it will only trigger timer when something is logged (Less timer activity when idle, Faster logging and improved garbage collection behavior) 
    -->
    <target xsi:type="File" name="logError" fileName="D:\Logs\LMS\API\api-error-${shortdate}.log"
           archiveAboveSize="224288000"
           layout="${poolName} | ${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}| ${message} ${onexception: | ${exception:format=toString}}" />

    <target xsi:type="File" name="logOthers" fileName="D:\Logs\LMS\API\api-info-${shortdate}.log"
   archiveAboveSize="224288000"
   layout="${poolName} | ${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}| ${message} ${onexception: | ${exception:format=toString}}" />

	<target xsi:type="File" name="SuccessLogRequestResponse" fileName="D:\Logs\LMS\API\PacketLogs\Success\${shortdate}.log"/>
	<target xsi:type="File" name="FailureLogRequestResponse" fileName="D:\Logs\LMS\API\PacketLogs\Failure\${shortdate}.log"/>
	  
    <!-- write to the void aka just remove  -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs -->
    <logger name="Microsoft.*" maxlevel="Info" writeTo="blackhole" final="true" />
    <logger name="Logging.FileLogger" minlevel="Error" writeTo="logError" />
    <logger name="Logging.FileLogger" minlevel="Trace" maxlevel="Warn" writeTo="logOthers" />
	<logger name="SuccessLogRequestResponse" minlevel="Trace" maxlevel="Warn" writeTo="SuccessLogRequestResponse" />
	<logger name="FailureLogRequestResponse" minlevel="Trace" maxlevel="Warn" writeTo="FailureLogRequestResponse" />
  </rules>
	
</nlog>